<%= render 'books/list2', user: @user %>
<%= render 'books/list', book: @book_index %>

<h2>Users</h2>

<% @users.each do |user| %>

  <%= image_tag user.get_profile_image(100,100) %>

  <%= user.name %>

  <%= link_to "show", user_path(current_user.id) %>

<% end %>
